* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100vh;
  background: #333333;
  text-align: center;
}

.conteiner{
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 200px;
  width: 100%;
  max-width: 300px;
  background-color: var(--background-color);
  border: 5px solid #888;
  filter: drop-shadow(15px 15px 20px #000)
}

.conteiner > p{
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color);
}

.conteiner > button{
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #888;
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background-color: #000;
}

.conteiner > button:hover{
  background-color: #333;
}